* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #080b1f;
}

ul {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul li {
    list-style: none;
}

ul li a {
    position: relative;
    display: inline-block;
    font-size: 2em;
    color: #fff;
    text-decoration: none;
    margin: 10px 0;
    padding: 0 20px;
}

#marker {
    position: absolute;
    top: 0;
    height: 50px;
    margin-top: -5px;
    background: #2196f3;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

@media (max-width: 1000px) {
    ul {
        flex-direction: row;
    }

    ul li a {
        margin: 0 20px;
        font-size: 1.5em;
    }

    #marker {
        margin-top: auto;
        height: 4px;
        margin-top: auto;
        left: 0;
        width: 100%;
       
        bottom: -8px;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
    }
}
